:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-gray: #a5a5a5;
  --color-light-gray: #f7f7f7;
  --color-white: #ffffff;
  --font-open-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif; }

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--color-white);
  box-shadow: 0px 3px 6px #00000029;
  height: 70px;
  z-index: 0; }
  .nav__logo {
    font: normal normal 300 32px/37px var(--font-raleway);
    letter-spacing: 0px;
    color: var(--color-primary); }
  .nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 95px; }
  .nav__el-link {
    padding: 28px 0;
    text-decoration: none;
    font: normal normal bold 11px/15px var(--font-open-sans);
    letter-spacing: 3.28px;
    color: var(--color-gray); }
  .nav__el-link:hover {
    cursor: pointer;
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary); }

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__h1 {
    font: normal normal normal 49px var(--font-raleway);
    text-align: center;
    margin-bottom: 20px; }
  .header__text {
    text-align: center;
    font: normal normal normal 16px var(--font-open-sans);
    margin-bottom: 38px; }
  .header__btn {
    background: var(--color-primary);
    box-shadow: 5px 10px 14px #07ace629;
    border-radius: 40px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    color: var(--color-white);
    padding: 22px 177px; }
  .header__img {
    height: 594px;
    width: 99vw;
    background: url("../assets/Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 531px; }
  .achievements__h2 {
    font: 36px var(--font-raleway);
    margin-top: 100px; }
  .achievements_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 290px;
    margin-top: 100px;
    width: 100vw;
    height: 100%; }
  .achievements .achievements__el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .achievements .achievements__el-img-1 {
      position: relative;
      width: 62.71px;
      height: 62.71px;
      background: url(../assets/Person.svg);
      background-position: center;
      background-repeat: no-repeat; }
    .achievements .achievements__el-img-1::after {
      content: "";
      display: block;
      position: absolute;
      width: 63px;
      height: 63px;
      background-color: var(--color-redish);
      border-radius: 50%;
      top: 0;
      left: -25px;
      z-index: -1; }
    .achievements .achievements__el-img-2 {
      position: relative;
      width: 62.71px;
      height: 62.71px;
      background: url(../assets/Eye.svg);
      background-position: center;
      background-repeat: no-repeat; }
    .achievements .achievements__el-img-2::after {
      content: "";
      display: block;
      position: absolute;
      width: 63px;
      height: 63px;
      background-color: var(--color-primary);
      border-radius: 50%;
      top: 0;
      left: -25px;
      z-index: -1; }
    .achievements .achievements__el-img-3 {
      position: relative;
      width: 62.71px;
      height: 62.71px;
      background: url(../assets/Catalog.svg);
      background-position: center;
      background-repeat: no-repeat; }
    .achievements .achievements__el-img-3::after {
      content: "";
      display: block;
      position: absolute;
      width: 63px;
      height: 63px;
      background-color: var(--color-green);
      border-radius: 50%;
      top: 0;
      left: -25px;
      z-index: -1; }
    .achievements .achievements__el-text {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center; }
    .achievements .achievements__el-text-h3 {
      font: 800 20px var(--font-raleway);
      margin-top: 14px; }
    .achievements .achievements__el-text-p {
      font: 17px var(--font-raleway);
      color: var(--color-gray);
      width: 150px;
      text-align: center; }

.pros {
  max-width: 1626px;
  height: 1395px;
  background-color: var(--color-light-gray);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 105px 251px;
  gap: 61px; }
  .pros__el {
    width: 1124px;
    height: 370px;
    background-color: var(--color-white);
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap; }
    .pros__el-text {
      font-family: var(--font-open-sans);
      font-size: 16px; }
    .pros__el-h2 {
      font-family: var(--font-raleway);
      font-size: 36px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 30px; }
    .pros__el-1 {
      align-items: center;
      justify-content: center;
      gap: 169px; }
      .pros__el-1-text {
        width: 416px;
        height: 188px; }
      .pros__el-1-img-box {
        width: 433px;
        height: 294px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end; }
        .pros__el-1-img-box-pic {
          width: 387px;
          height: 219px;
          background-image: url(../assets/Macbook.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat; }
    .pros__el-2 {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 192px; }
      .pros__el-2-h2 {
        width: 246px;
        height: 84px; }
      .pros__el-2-text {
        width: 416px;
        height: 230px; }
      .pros__el-2-img {
        width: 426px;
        height: 328px;
        background-image: url(../assets/iPhone.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
    .pros__el-text-3 {
      width: 624px;
      height: 370px;
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center; }
      .pros__el-text-3-wrapper {
        width: 554px;
        height: 230px; }
        .pros__el-text-3-wrapper-h2 {
          width: 348px;
          height: 84px; }
    .pros__el-box-3 {
      width: 440px;
      height: 370px;
      background-color: var(--color-green);
      display: flex;
      align-items: center;
      justify-content: center; }
      .pros__el-box-3-img {
        width: 296px;
        height: 208px;
        background-image: url(../assets/Trumpet.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 59px; }
  .pricing__h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    letter-spacing: 0;
    width: 100vw;
    text-align: center;
    margin-top: 100px; }
  .pricing__el {
    width: 372px;
    height: 461px;
    border: 1px solid var(--color-black);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .pricing__el-h3 {
      font-family: var(--font-raleway);
      font-size: 20px;
      font-weight: bold;
      margin-top: 34px;
      margin-bottom: 14px; }
      .pricing__el-h3-1 {
        color: var(--color-redish); }
      .pricing__el-h3-2 {
        color: #07ace6; }
      .pricing__el-h3-3 {
        color: var(--color-green); }
    .pricing__el-price {
      font-family: var(--font-open-sans);
      font-size: 46px;
      font-weight: 300;
      margin-bottom: 69px; }
    .pricing__el-list {
      display: flex;
      flex-flow: column;
      gap: 20px; }
      .pricing__el-list .pricing-list-el-text {
        font-family: var(--font-open-sans);
        font-size: 14px;
        position: relative;
        top: 0;
        left: -20px; }
    .pricing__el-btn {
      font-family: var(--font-open-sans);
      font-size: 13px;
      text-decoration: none;
      color: var(--color-white);
      padding: 16px 65px;
      background-color: var(--color-black);
      border-radius: 23px;
      position: absolute;
      bottom: -23px; }
      .pricing__el-btn-1 {
        background-color: var(--color-redish); }
      .pricing__el-btn-2 {
        background-color: #07ace6; }
      .pricing__el-btn-3 {
        background-color: var(--color-green); }
    .pricing__el-1 {
      border-color: var(--color-redish); }
    .pricing__el-2 {
      border-color: #07ace6; }
    .pricing__el-3 {
      border-color: var(--color-green); }

.text-sudo-active::before {
  content: url(/assets/Checkmark.svg);
  fill: #55dfb4;
  display: block;
  width: 11px;
  height: 10px;
  border: 1px solid #55dfb4;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: -20px; }

.text-sudo-unactive::before {
  content: "X";
  font-family: var(--font-raleway);
  line-height: 11px;
  font-size: 9px;
  font-weight: bold;
  color: #eb476e;
  text-align: center;
  display: block;
  width: 11px;
  height: 10px;
  border: 1px solid #eb476e;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: -20px; }

.container {
  width: 1352px; }

.form {
  width: 896px;
  height: 376px;
  margin: 159px auto;
  display: flex; }
  .form__info {
    width: 50%;
    height: 100%; }
    .form__info-header {
      text-align: left;
      font-family: var(--font-raleway);
      font-size: 49px;
      margin-bottom: 22px; }
    .form__info-p {
      text-align: left;
      font-family: var(--font-open-sans);
      margin-bottom: 42px; }
    .form__info-mail, .form__info-tel {
      font-family: var(--font-open-sans);
      font-weight: 600;
      color: var(--color-gray); }
  .form__send {
    width: 440px;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .form__send-inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      border-bottom: 1px solid #95989a; }
      .form__send-inputs-name, .form__send-inputs-email {
        font-family: var(--font-open-sans);
        font-weight: bold;
        font-size: 11px;
        letter-spacing: 3.28px;
        color: var(--color-primary); }
      .form__send-inputs-email {
        padding-top: 57px;
        border-top: 1px solid #95989a; }
      .form__send-inputs-name-input, .form__send-inputs-email-input {
        border: none;
        line-height: 40px; }
    .form__send-check {
      display: flex; }
      .form__send-check-checkbox {
        appearance: none;
        background: #5f1f1f 0% 0% no-repeat padding-box;
        border: 1px solid #47b4fc;
        border-radius: 4px; }
      .form__send-check-p {
        width: 405px;
        text-align: left;
        font-family: var(--font-open-sans);
        font-size: 12px;
        color: #707070;
        margin-left: 10px; }
    .form__send-btn {
      font-family: var(--font-open-sans);
      font-weight: bold;
      font-size: 13px;
      padding: 20px 97px;
      color: var(--color-white);
      background-color: var(--color-primary);
      box-shadow: 5px 10px 14px var(--color-primary-shadow);
      border: none;
      border-radius: 35px;
      margin-top: 20px;
      align-self: flex-end; }

.footer {
  height: 89px;
  background-color: var(--color-light-gray);
  box-shadow: 0px -5px 40px #00000029; }
  .footer-img {
    width: 24px;
    height: 24px; }
  .footer__logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .footer__logo-header {
      font-family: var(--font-raleway);
      font-weight: 300;
      font-size: 26px;
      color: var(--color-primary); }
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 20px; }

.footer .container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
