html {
  box-sizing: border-box;
  font-size: 62.5%; }

:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-gray: #a5a5a5;
  --color-light-gray: #f7f7f7;
  --color-white: #ffffff;
  --font-open-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif; }

.nav {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px #00000029; }
  .nav .container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__logo {
    font-family: var(--font-raleway);
    font-weight: 300;
    font-size: 32px;
    color: var(--color-primary); }
  .nav__list {
    height: 100%;
    display: flex;
    gap: 95px; }
    .nav__list-el-link {
      height: 95%;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: var(--font-open-sans);
      font-size: 11px;
      letter-spacing: 2.38px;
      font-weight: bold;
      color: var(--color-gray); }
      .nav__list-el-link:hover {
        color: var(--color-black);
        border-bottom: 4px solid var(--color-primary); }

.header {
  width: 100%;
  height: calc(100vh - 200px);
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__h1 {
    font-family: var(--font-raleway);
    font-size: 4.9rem;
    color: var(--color-black);
    margin-bottom: 20px; }
  .header__text {
    font-family: var(--font-open-sans);
    font-size: 1.6rem;
    margin-bottom: 60px; }
  .header__btn {
    text-decoration: none;
    padding: 22px 157px;
    font-family: var(--font-open-sans);
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow); }
  .header__img {
    width: 100%;
    height: 70%;
    background-image: url(../assets/Background.png);
    background-position: center;
    background-size: cover; }

.achievements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem; }
  .achievements__h2 {
    padding-top: 10rem;
    font-family: var(--font-raleway);
    font-size: 3.6rem;
    margin-bottom: 10rem; }
  .achievements__list {
    display: flex;
    gap: 185px;
    margin-bottom: 12rem; }
    .achievements__list-el {
      height: 168px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center; }
      .achievements__list-el-img-1 {
        width: 6.3rem;
        height: 6.3rem;
        background-color: var(--color-redish);
        border-radius: 50%;
        position: relative; }
        .achievements__list-el-img-1::after {
          content: "";
          display: block;
          position: absolute;
          width: 4.4rem;
          height: 5.2rem;
          background: url(../assets/Person.svg);
          background-position: center;
          background-size: cover;
          z-index: 1;
          top: 50%;
          transform: translateY(-50%);
          right: -20%; }
      .achievements__list-el-img-2 {
        width: 6.3rem;
        height: 6.3rem;
        background-color: var(--color-primary);
        border-radius: 50%;
        position: relative; }
        .achievements__list-el-img-2::after {
          content: "";
          display: block;
          position: absolute;
          width: 6.5rem;
          height: 3.7rem;
          background: url(../assets/Eye.svg);
          background-position: center;
          background-size: cover;
          z-index: 1;
          top: 50%;
          transform: translateY(-50%);
          right: -50%; }
      .achievements__list-el-img-3 {
        width: 6.3rem;
        height: 6.3rem;
        background-color: var(--color-green);
        border-radius: 50%;
        position: relative; }
        .achievements__list-el-img-3::after {
          content: "";
          display: block;
          position: absolute;
          width: 5.2rem;
          height: 4.8rem;
          background: url(../assets/Catalog.svg);
          background-position: center;
          background-size: cover;
          z-index: 1;
          top: 50%;
          transform: translateY(-50%);
          right: -50%; }
      .achievements__list-el-text {
        margin-top: 2.5rem; }
        .achievements__list-el-text-header {
          font-family: var(--font-raleway);
          font-size: 2rem;
          font-weight: 800;
          letter-spacing: 5.96px;
          text-align: center;
          margin-bottom: 2rem; }
        .achievements__list-el-text-p {
          font-family: var(--font-raleway);
          font-size: 1.7rem;
          color: var(--color-gray);
          text-align: center;
          max-width: 130px; }

.pros {
  background-color: var(--color-light-gray);
  padding: 10.5rem 25.1rem; }
  .pros .wrapper {
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.7rem; }
  .pros__el {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    width: 112.4rem;
    height: 370px; }
    .pros__el-2 {
      flex-direction: row-reverse; }
    .pros__el-3 {
      background-color: var(--color-light-gray); }
    .pros__el-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 41.6rem; }
      .pros__el-text-1 {
        margin-left: 3.5rem; }
      .pros__el-text-2 {
        margin-right: 2rem; }
      .pros__el-text-3 {
        background-color: white;
        width: 62.3rem; }
      .pros__el-text-header {
        font-family: var(--font-raleway);
        font-size: 3.6rem;
        margin-bottom: 3rem; }
      .pros__el-text-paragraph {
        font-family: var(--font-open-sans);
        font-size: 1.6rem;
        margin-bottom: 5rem; }
    .pros__el-line-1 {
      border-bottom: 4px solid var(--color-redish);
      width: 32.8rem; }
    .pros__el-line-2 {
      border-bottom: 4px solid var(--color-primary);
      width: 32.8rem; }
    .pros__el-line-3 {
      border-bottom: 4px solid var(--color-green);
      width: 32.8rem; }
    .pros__el-img-box {
      position: relative;
      width: 50%;
      height: 100%;
      z-index: 2; }
      .pros__el-img-box-pic-1 {
        position: absolute;
        width: 38.7rem;
        height: 22rem;
        background: url(../assets/Macbook.png);
        background-position: center;
        background-size: cover;
        bottom: 3.8rem;
        right: 11.8rem; }
        .pros__el-img-box-pic-1::before {
          content: "";
          display: block;
          position: absolute;
          width: 20rem;
          height: 20rem;
          background-color: var(--color-redish);
          border-radius: 41px;
          transform: rotate(45deg);
          right: -1rem;
          top: -3.5rem;
          z-index: -1; }
      .pros__el-img-box-pic-2 {
        position: absolute;
        width: 42.6rem;
        height: 32.8rem;
        background: url(../assets/iPhone.png);
        background-position: center;
        background-size: cover;
        top: 2.9rem;
        left: 7rem; }
        .pros__el-img-box-pic-2::after {
          content: "";
          display: block;
          position: absolute;
          width: 32rem;
          height: 32rem;
          background-color: var(--color-primary);
          border-radius: 50%;
          transform: rotate(45deg);
          left: 0;
          top: 0;
          z-index: -1; }
      .pros__el-img-box-3 {
        width: 44rem;
        height: 37rem;
        background-color: var(--color-green);
        position: relative; }
      .pros__el-img-box-pic-3 {
        position: absolute;
        background: url(../assets/Trumpet.png);
        background-position: center;
        background-size: cover;
        z-index: 2;
        width: 29.6rem;
        height: 21rem;
        bottom: 6.4rem;
        right: 6.2rem; }

.pricing {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin-bottom: 20rem; }
  .pricing__h2 {
    width: 100%;
    margin: 100px 0 71px;
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center; }
  .pricing__el {
    width: 37.2rem;
    height: 46.1rem;
    border: 1px solid #fb3b64;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .pricing__el-h3 {
      font-family: var(--font-raleway);
      font-size: 20px;
      font-weight: bold;
      color: #13253b;
      margin-top: 34px;
      margin-bottom: 14px; }
    .pricing__el-price {
      font-family: var(--font-open-sans);
      font-weight: 300;
      font-size: 4.6rem;
      margin-bottom: 6.9rem; }
    .pricing__el-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem; }
      .pricing__el-list .pricing-list-el {
        font-size: 1.4rem;
        font-family: var(--font-open-sans);
        color: var(--color-black);
        position: relative; }
    .pricing__el-btn {
      position: absolute;
      font-family: var(--font-open-sans);
      font-weight: bold;
      font-size: 1.3rem;
      padding: 1.6rem 5.7rem;
      color: var(--color-white);
      background-color: #13253b;
      border-radius: 23px;
      bottom: 0;
      transform: translateY(50%);
      text-decoration: none; }
    .pricing__el-1 {
      border-color: var(--color-redish);
      color: var(--color-redish); }
      .pricing__el-1 .pricing__el-btn-1 {
        background-color: var(--color-redish); }
    .pricing__el-2 {
      border-color: var(--color-primary);
      color: var(--color-primary); }
      .pricing__el-2 .pricing__el-btn-2 {
        background-color: var(--color-primary); }
    .pricing__el-3 {
      border-color: var(--color-green);
      color: var(--color-green); }
      .pricing__el-3 .pricing__el-btn-3 {
        background-color: var(--color-green); }
  .pricing .text-sudo-active::before {
    content: "";
    background: url(../assets/Ckechmark-1.svg);
    background-position: center;
    background-size: cover;
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -2rem;
    border-radius: 1.8px; }
  .pricing .text-sudo-unactive::before {
    content: url(../assets/Close.svg);
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -2rem;
    border-radius: 1.8px; }

.pricing__el-active {
  transform: scale(1.1);
  box-shadow: 5px 10px 27px var(--color-primary-shadow); }

.form {
  margin: 0 auto;
  width: 89.6rem;
  height: 37.6rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form__info {
    width: 45.6rem;
    height: 100%; }
    .form__info-header {
      font-family: var(--font-raleway);
      font-size: 4.9rem;
      margin-bottom: 2.2rem; }
    .form__info-p {
      font-family: var(--font-open-sans);
      font-size: 1.6rem;
      margin-bottom: 4rem; }
    .form__info-mail, .form__info-tel {
      font-family: var(--font-open-sans);
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--color-gray);
      display: inline-flex;
      align-items: center; }
      .form__info-mail::before, .form__info-tel::before {
        content: "";
        display: inline-flex;
        width: 20px;
        height: 20px;
        margin-right: 10px; }
    .form__info-mail::before {
      background: url("../assets/Mail Icon.svg");
      background-position: center;
      background-size: cover; }
    .form__info-tel {
      margin-left: 10px; }
      .form__info-tel::before {
        background: url("../assets/Phone Icon.svg");
        background-position: center;
        background-size: cover; }
  .form__send {
    width: 44rem;
    display: flex;
    flex-direction: column;
    height: 100%; }
    .form__send-inputs {
      display: flex;
      flex-direction: column; }
      .form__send-inputs-name, .form__send-inputs-email {
        font-family: var(--font-open-sans);
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--color-primary);
        letter-spacing: 3.28px;
        margin-bottom: 1.4rem; }
        .form__send-inputs-name-input, .form__send-inputs-email-input {
          border: 0;
          border-bottom: 1px solid var(--color-gray); }
      .form__send-inputs-email {
        margin-top: 4rem; }
    .form__send-check {
      margin-top: 3rem;
      position: relative; }
      .form__send-check-checkbox {
        position: absolute;
        top: 2px; }
      .form__send-check-p {
        display: inline-block;
        margin-left: 3.4rem;
        font-family: var(--font-open-sans);
        font-size: 1.2rem;
        color: #707070; }
    .form__send-btn {
      border: 0;
      font-family: var(--font-open-sans);
      font-weight: bold;
      font-size: 1.3rem;
      color: var(--color-white);
      padding: 2rem 9.7rem;
      background-color: var(--color-primary);
      border-radius: 35px;
      align-self: flex-end;
      margin-top: 2rem; }

.footer {
  width: 100%;
  background: #f7f7f7;
  box-shadow: 0px -5px 40px #00000029; }
  .footer .container {
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .footer__logo-header {
    font-family: var(--font-raleway);
    font-size: 2.6rem;
    font-weight: 300;
    color: var(--color-primary);
    margin-top: 2.1rem;
    margin-bottom: 0.6rem; }
  .footer__logo-p {
    font-family: var(--font-open-sans);
    font-size: 1.1rem;
    color: var(--color-gray);
    margin-bottom: 1.7rem; }
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 2rem; }
