.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--color-white);
  box-shadow: 0px 3px 6px #00000029;
  height: 70px;
  z-index: 200;

  &__logo {
    font: normal normal 300 32px/37px var(--font-raleway);
    letter-spacing: 0px;
    color: var(--color-primary);
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 95px;
  }

  &__el {
    &-link {
      padding: 28px 0;
      text-decoration: none;
      font: normal normal bold 11px/15px var(--font-open-sans);
      letter-spacing: 3.28px;
      color: var(--color-gray);
    }

    &-link:hover {
      cursor: pointer;
      color: var(--color-black);
      border-bottom: 4px solid var(--color-primary);
    }
  }
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
