.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 59px;
  &__h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    letter-spacing: 0;
    width: 100vw;
    text-align: center;
    margin-top: 100px;
  }
  &__el {
    width: 372px;
    height: 461px;
    border: 1px solid var(--color-black);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-h3 {
      font-family: var(--font-raleway);
      font-size: 20px;
      font-weight: bold;
      margin-top: 34px;
      margin-bottom: 14px;

      &-1 {
        color: var(--color-redish);
      }

      &-2 {
        color: #07ace6;
      }

      &-3 {
        color: var(--color-green);
      }
    }

    &-price {
      font-family: var(--font-open-sans);
      font-size: 46px;
      font-weight: 300;
      margin-bottom: 69px;
    }

    &-list {
      display: flex;
      flex-flow: column;
      gap: 20px;

      .pricing-list-el {
        &-text {
          font-family: var(--font-open-sans);
          font-size: 14px;
          position: relative;
          top: 0;
          left: -20px;
        }
      }
    }
    &-btn {
      font-family: var(--font-open-sans);
      font-size: 13px;
      text-decoration: none;
      color: var(--color-white);
      padding: 16px 65px;
      background-color: var(--color-black);
      border-radius: 23px;
      position: absolute;
      bottom: -23px;

      &-1 {
        background-color: var(--color-redish);
      }
      &-2 {
        background-color: #07ace6;
      }
      &-3 {
        background-color: var(--color-green);
      }
    }
    &-1 {
      border-color: var(--color-redish);
    }

    &-2 {
      border-color: #07ace6;
    }
    &-3 {
      border-color: var(--color-green);
    }
  }
}

.text-sudo-active {
  &::before {
    content: url(/assets/Checkmark.svg);
    fill: #55dfb4;
    display: block;
    width: 11px;
    height: 10px;
    border: 1px solid #55dfb4;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: -20px;
  }
}

.text-sudo-unactive {
  &::before {
    content: "X";
    font-family: var(--font-raleway);
    line-height: 11px;
    font-size: 9px;
    font-weight: bold;
    color: #eb476e;
    text-align: center;
    display: block;
    width: 11px;
    height: 10px;
    border: 1px solid #eb476e;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: -20px;
  }
}
