.pricing {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin-bottom: 20rem;
  &__h2 {
    width: 100%;
    margin: 100px 0 71px;
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center;
  }

  &__el {
    width: 37.2rem;
    height: 46.1rem;
    border: 1px solid #fb3b64;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-h3 {
      font-family: var(--font-raleway);
      font-size: 20px;
      font-weight: bold;
      color: #13253b;
      margin-top: 34px;
      margin-bottom: 14px;
    }

    &-price {
      font-family: var(--font-open-sans);
      font-weight: 300;
      font-size: 4.6rem;
      margin-bottom: 6.9rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .pricing-list-el {
        font-size: 1.4rem;
        font-family: var(--font-open-sans);
        color: var(--color-black);
        position: relative;
      }
    }
    &-btn {
      position: absolute;
      font-family: var(--font-open-sans);
      font-weight: bold;
      font-size: 1.3rem;
      padding: 1.6rem 5.7rem;
      color: var(--color-white);
      background-color: #13253b;
      border-radius: 23px;
      bottom: 0;
      transform: translateY(50%);
      text-decoration: none;
    }

    &-1 {
      border-color: var(--color-redish);
      color: var(--color-redish);
      .pricing__el-btn-1 {
        background-color: var(--color-redish);
      }
    }

    &-2 {
      border-color: var(--color-primary);
      color: var(--color-primary);
      .pricing__el-btn-2 {
        background-color: var(--color-primary);
      }
    }

    &-3 {
      border-color: var(--color-green);
      color: var(--color-green);
      .pricing__el-btn-3 {
        background-color: var(--color-green);
      }
    }
  }

  .text-sudo-active {
    &::before {
      content: "";
      background: url(../assets/Ckechmark-1.svg);
      background-position: center;
      background-size: cover;
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: -2rem;
      border-radius: 1.8px;
    }
  }

  .text-sudo-unactive {
    &::before {
      content: url(../assets/Close.svg);
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: -2rem;
      border-radius: 1.8px;
    }
  }
}

.pricing__el-active {
  transform: scale(1.1);
  box-shadow: 5px 10px 27px var(--color-primary-shadow);
}
