.pros {
  max-width: 1626px;
  height: 1395px;
  background-color: var(--color-light-gray);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 65px;
  padding: 105px 251px;

  &__el {
    width: 1124px;
    height: 370px;
    background-color: var(--color-white);
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;

    &-text {
      font-family: var(--font-open-sans);
      font-size: 16px;
    }

    &-h2 {
      font-family: var(--font-raleway);
      font-size: 36px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 30px;
    }

    &-1 {
      align-items: center;
      justify-content: center;
      gap: 169px;

      &-text {
        width: 416px;
        height: 188px;
      }
      &-img-box {
        width: 433px;
        height: 294px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        z-index: 1;
        &-pic {
          width: 387px;
          height: 219px;
          background-image: url(../assets/Macbook.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 150px;
            height: 150px;
            background-color: var(--color-redish);
            border-radius: 41px;
            transform: rotate(45deg);
            position: absolute;
            right: 0px;
            top: -20px;
            z-index: -1;
          }
        }
      }
    }

    &-line-1 {
      margin-top: 50px;
      border: 2px solid var(--color-redish);
      width: 328px;
      // position: absolute;
      bottom: 0;
      left: 0;
    }
    &-2 {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 192px;

      &-h2 {
        width: 246px;
        height: 84px;
      }
      &-text {
        width: 416px;
        height: 230px;
      }
      &-img {
        width: 426px;
        height: 328px;
        background: transparent url(../assets/iPhone.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 320px;
          height: 320px;
          background-color: #07ace6;
          border-radius: 50%;
          position: absolute;
          top: -15px;
          left: 0;
        }
      }
    }
    &-line-2 {
      margin-top: 50px;
      border: 2px solid var(--color-primary);
      width: 328px;
      // position: absolute;
      bottom: 0;
      left: 0;
    }

    &-text-3 {
      width: 53%;
      height: 370px;
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      &-wrapper {
        width: 554px;
        height: 230px;

        &-h2 {
          width: 348px;
          height: 84px;
        }

        &-p {
        }
      }
    }
    &-line-3 {
      margin-top: 50px;
      border: 2px solid var(--color-green);
      width: 44%;
      // position: absolute;
      bottom: 0;
      left: 0;
    }

    &-box-3 {
      width: 440px;
      height: 370px;
      background-color: var(--color-green);
      display: flex;
      align-items: center;
      justify-content: center;
      &-img {
        width: 296px;
        height: 208px;
        background-image: url(../assets/Trumpet.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
